* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
}

:root {
    --primary-color: #ECEAF2;
    --secondary-color: #1B1B2A;
    --shadow: 2px 2px 2px 2px #1a1a1a1a,
        -2px -2px 2px 2px #ffffff;
}

body {
    background-color: var(--primary-color);
    width: 100vw;
}

/* styling Header tag  */
header {
    height: 80px;
    width: 100%;
    background-color: #fff;
    display: flex;
    position: fixed;
    justify-content: space-between;
    box-shadow: var(--shadow);
}
.Header{
    box-shadow: red;
    background-color: blue;
}
header .logo {
    margin: 2rem;

}

header .logo h2 {
    font-size: 35px;
    color: #11033b;
    font-family: sans-serif;

}

header .manu-bar {
    display: none;
}

header .manu-bar .toggle-close {
    display: none;
}

header .nav-bars {
    margin-top: 3rem;
    margin-right: 40px;
}

header .nav-bars ul {
    display: flex;
    text-align: center;
}

header .nav-bars ul li {
    margin: 0 2rem;
    position: relative;

}

header .nav-bars ul li::after {
    content: "";
    width: 0px;
    height: 2px;
    background-color: rgb(30, 30, 31);
    position: absolute;
    top: 20px;
    left: 0px;
    transition: width 0.4s ease-in;
    transform-origin: left;
}

header .nav-bars ul li:hover::after {
    width: 25px;
    transform: scaleX(1.6);

}

header .nav-bars ul li a {
    color: #11033b;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 600;
}

@media screen and (max-width:477px) {

    body {
        background-color: #fff;
    }

    header{
        height: 80px;
    }
    header nav {
        display: flex;
        flex-direction: column;
    }

    header nav .manu-bar {
        display: flex;
        position: absolute;
        right: 1rem;
        top: 2.5rem;
        margin-bottom: 2rem;

    }

    header nav .manu-bar h2 {
        font-size: 30px;
    }

    header nav .nav-bars {
        display: none;
        animation: nav 0.9s linear;
        height: 700px;
        position: absolute;
        text-align: center;
        justify-content: center;
        top: 2rem;
        left: 0;
        width: 400px;
        background-color: #dfdede;
    }

    @keyframes nav {
        0% {
            opacity: 0;
            width: 0px;
        }

        100% {
            opacity: 1;
            width: 400px;

        }


    }

    header nav .nav-bars ul {
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        /* justify-content: center; */
    }

    header nav .nav-bars ul li {
        width: 100%;
        padding: 10px 0px;
       position: relative;
       left: -25%;
       height: 30px;
       padding: 10px 0;
        margin: 0px 50px;
    }
    header nav .nav-bars ul li:hover {
        background-color: #eee9ee;
 
    }
    header nav .nav-bars ul li:hover::after {
        width: 0px;
    }

}



/* styelig container class */

.container {
    scroll-snap-type: y mandatory;
    height: 100vh;
    overflow-y: scroll;
}

.container main {
    margin-top: 12rem;
    transition: 300ms;
    height: 80vh;
    /* scroll-snap-align: start; */
}

.container .description {
    height: 70vh;
    margin-top: 6rem;
    background-color: linear-gradent();
    display: flex;
    text-align: center;
    /* box-shadow: 6px 6px 6px 6px #1a1a1a1a,
            -6px -6px 6px 6px #ffffff;
     */
}

.container .description .left img {
    margin: 2rem;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow: var(--shadow);

}

.container .description .right {
    width: calc(100%-300px);
    /* background-color: aqua; */
    padding: 10px;
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    margin-top: 5rem;
    margin-left: 9rem;
    font-family: sans-serif;

}
.container .description .right p{
    width: 600px;
}
.container .description .right .link {
    float: left;
}

.container .skill {
    background-color: rgb(243, 244, 246);
    height: auto;
    display: block;

}

.container .skill .title {
    margin: 1rem 0;
    display: flex;
    text-align: center;
    justify-content: center;

}

.container .skill .title h1 {
    font-size: 30px;
    margin-top: 2rem;
    color: #1B1B2A;
}

.container .skill .header {
    margin: 2rem 0;
    display: flex;
    text-align: center;
    justify-content: center;
    font-weight: 800;
    font-size: 28px;


}

.container .skill .body {
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 1.5rem;
}

.container .skill .body .language {
    width: 195px;
    height: 195px;
    padding: 10px;
    border-radius: 4px;
    box-shadow: var(--shadow);
}

.container .skill .body .language h1 {
    font-size: 25px;

}

.container .skill .body img {
    width: 150px;
    height: 150px;

}

.four {
    background-color: rgb(255, 191, 0);
}

.five {
    background-color: rgb(10, 18, 18);
}

.six {
    background-color: rgb(213, 24, 172);
}

.seven {
    background-color: rgb(211, 51, 15);
}


/* for mobile device */
@media screen and (max-width:477px) {

    .container .description {
        flex-direction: column;
        height: auto;
        margin: 3rem 1rem;
    }

    .container .description .left img {
        margin: 6rem 0 1rem 0;
        height: 200px;
        width: 200px;
        border-radius: 10px;
    }

    .container .description .right {
        padding: 5px;
        width: 90vw;
        box-shadow: #1a1a1a1a;
        margin: 1rem 0 0rem 0;
    }
    .container .description .right p{
        width: 98%;
        height: fit-content;
        text-indent: 0;
    
    }

    .container .skill .body {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 15px;
    }

    .container .skill .body .language {
        width: 100px;
        height: 100px;
        padding: 10px 10px;

    }

    .container .skill .body img {
        height: 80px;
        width: 80px;
    }

    .container .skill .body .language h1 {
        font-size: 13px;
    }

    .container .skill .header {
        font-size: 20px;
    }


}




/* footer section  */

.footers{
background-color: #fff;
display: flex;
justify-content: space-around;
/* box-shadow: var(--shadow); */
}
.footers .row{
    width: 300px;
    height: 400px;
    padding: 3rem 2rem;
    /* background-color: #b8b8bd; */
    border-radius: 10px;
    align-items: center;
    justify-content: baseline;
    text-align: center;
}

.footers .row .contact p{
    padding: 10px 0;
}
.footers .row .title h4{
    font-size: 25px;
    color: #111;
    font-weight: 700;
}
.footers .row ul {
    text-align: center;
}
.footers .row ul li{
    margin: 1rem 0 0 6rem;
    
   }
   
.footers .row .social-links li{
    text-align: center;
    margin: 1rem 0 0 6rem;
}
.footers .row ul li a{
    display: flex;
    transition: 500ms;
    gap: 10px;
}
.footers .row ul li a,
 p{
    color: #111;
    font-size: 18px;
}
.footers .row ul li a:hover{
    color: blue;
}
@media screen and (max-width:477px) {
 .footers{
    scroll-snap-type: y mandatory;
    height: 100vh;
    overflow-y: scroll;
   display: grid;
   grid-template-columns: 1fr;
   gap: 20px;
 }
 .footers .row{
    top: 20%;
    scroll-snap-align: start;

 }

}


/* copy right section  */
.copy-right{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 1rem;
    background-color: inherit;

}